Aula 6 WCF/Cap06_Lab01_Teste/Service References/AwWebRef/AdvWorksWcf2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55709/AdvWorksWcf.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:55709/AdvWorksWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cap06Lab01.Models" />
  <xs:element name="ClientePaisLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientePaisListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ClientePaisListaResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteEstadoLista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClienteEstadoListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ClienteEstadoListaResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientesAvulsosPorPaisEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pais" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientesAvulsosPorPaisEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cap06Lab01.Models" minOccurs="0" name="ClientesAvulsosPorPaisEstadoResult" nillable="true" type="q3:ArrayOfClienteAvulso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>