Aula 6 WCF/Cap06_Lab01_Teste/Service References/AwWebRef/AdvWorksWcf3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cap06Lab01.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cap06Lab01.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfClienteAvulso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteAvulso" nillable="true" type="tns:ClienteAvulso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteAvulso" nillable="true" type="tns:ArrayOfClienteAvulso" />
  <xs:complexType name="ClienteAvulso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteAvulso" nillable="true" type="tns:ClienteAvulso" />
</xs:schema>