Aula 6 WCF/Cap06_Lab01_Teste/Service References/AwWebRef/AdvWorksWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdvWorksWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55709/AdvWorksWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55709/AdvWorksWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55709/AdvWorksWcf.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55709/AdvWorksWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cap06Lab01.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdvWorksWcf_ClientePaisLista_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientePaisLista" />
  </wsdl:message>
  <wsdl:message name="IAdvWorksWcf_ClientePaisLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientePaisListaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvWorksWcf_ClienteEstadoLista_InputMessage">
    <wsdl:part name="parameters" element="tns:ClienteEstadoLista" />
  </wsdl:message>
  <wsdl:message name="IAdvWorksWcf_ClienteEstadoLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClienteEstadoListaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvWorksWcf_ClientesAvulsosPorPaisEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientesAvulsosPorPaisEstado" />
  </wsdl:message>
  <wsdl:message name="IAdvWorksWcf_ClientesAvulsosPorPaisEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesAvulsosPorPaisEstadoResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdvWorksWcf">
    <wsdl:operation name="ClientePaisLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvWorksWcf/ClientePaisLista" message="tns:IAdvWorksWcf_ClientePaisLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvWorksWcf/ClientePaisListaResponse" message="tns:IAdvWorksWcf_ClientePaisLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClienteEstadoLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvWorksWcf/ClienteEstadoLista" message="tns:IAdvWorksWcf_ClienteEstadoLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvWorksWcf/ClienteEstadoListaResponse" message="tns:IAdvWorksWcf_ClienteEstadoLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientesAvulsosPorPaisEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvWorksWcf/ClientesAvulsosPorPaisEstado" message="tns:IAdvWorksWcf_ClientesAvulsosPorPaisEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvWorksWcf/ClientesAvulsosPorPaisEstadoResponse" message="tns:IAdvWorksWcf_ClientesAvulsosPorPaisEstado_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdvWorksWcf" type="tns:IAdvWorksWcf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientePaisLista">
      <soap:operation soapAction="http://tempuri.org/IAdvWorksWcf/ClientePaisLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClienteEstadoLista">
      <soap:operation soapAction="http://tempuri.org/IAdvWorksWcf/ClienteEstadoLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesAvulsosPorPaisEstado">
      <soap:operation soapAction="http://tempuri.org/IAdvWorksWcf/ClientesAvulsosPorPaisEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdvWorksWcf">
    <wsdl:port name="BasicHttpBinding_IAdvWorksWcf" binding="tns:BasicHttpBinding_IAdvWorksWcf">
      <soap:address location="http://localhost:55709/AdvWorksWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>